* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #262b31;
}

header {
    background-color: #456880;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    color: #FFF;
}

main {
    margin: 8vh ;
    min-height: 92vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24vw, auto));
    gap: 2vw;
}

.contact {
    background-color: #456880;
    color: #FFF;
    border-radius: .5rem;
    padding: 4vh 4vh;
}

.add {
    padding: 8px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: #FFF;
    color: #456880;
    font-weight: 600;
    transition: all .2s;
}

.add:hover {
    background-color: rgba(255, 255, 255, 0.87);
}